.scroll-container {
    height: 48rem;
    overflow-y: auto;
    border: 1px solid #F6F4F8;
    border-radius: 5px;
}

/* WebKit Tabanlı Tarayıcılar için Kaydırma Çubuğu */
.scroll-container::-webkit-scrollbar {
    width: 12px; /* Kaydırma çubuğunun genişliği */
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kaydırma çubuğu arka planı */
    border-radius: 10px; /* Kaydırma çubuğu arka planının köşelerini yuvarlama */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Gölgelendirme ekleyerek derinlik kazandırma */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #4B0097; /* Kaydırma çubuğu tutamağı */
    border-radius: 10px; /* Tutamağın köşelerini yuvarlama */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #6A00A1; /* Üzerine gelindiğinde tutamağın rengi */
}


.btn-next-prev{
   width: 6rem !important;
   border: 2px solid #905ac5 !important;
   color:#6b00d6 !important;
  }