.color-1 {
  color: var(--color1) !important;
}

.bg-3 {
  background-color: var(--color5);
}

.bg-4 {
  background-color: var(--color1) !important;
}
.bg-6 {
  background-color: var(--color6) !important;
}

.trip-options-1 {
  border-radius: 40px 0 0 40px !important;
  border: none !important;
}

.trip-options-2 {
  border-radius: 0 40px 40px 0 !important;
  border: none !important;
}

.text-color-1 {
  color: var(--color1) !important;
}

/**/
.input{
  width: 8.3rem !important;
  height: 2.5rem;
}
.input:focus {
  outline: none !important; /* Odaklanma anında dış çerçeveyi kaldırır */
  box-shadow: none !important; /* Bootstrap'teki varsayılan odaklanma gölgesini kaldırır */
}

/**/
.icon {
  height: 1.6rem;
  color: var(--color1);
  width: 3rem;
  background-color: #f8f9fa;
}
.icon-div-1 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-radius: 0.375rem 0 0 0.375rem;
  height: 2.5rem;
  background-color: #f8f9fa;
}

.icon-div-2 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-radius: 0 0.375rem 0.375rem 0px;
  height: 2.5rem;
  background-color: #f8f9fa;
}

.input {
  height: 2.5rem;
  border: 1px solid #dee2e6 !important;
  width: 5rem;
}

.input-1 {
  border-radius: 0 0.375rem 0.375rem 0 !important;
}

.input-2 {
  border-radius: 0.375rem 0 0 0.375rem !important;
}
